.header {
    padding: 40px; 
    text-align: center;
    position:top;
    background-color: lightskyblue;
}

.container {
background-color: rgb(99, 155, 212);
}

table {
    width: 100%;
}

#new-topic {
    
}

/* table header width styling */

#comment-col {
    width: 5%;
}

#topic-col {
    width: 70%;
}

#replies-col {
    width: 5%;
}

#lastpost-col {
    width: 20%;
}

#edit-col {
    width: 10%;
}