.header {
    padding: 40px; 
    text-align: center;
    position:top;
    background-color: lightskyblue;
}

.container {
background-color: rgb(99, 155, 212);
}

table {
    width: 100%;
}

#new-topic {
    
}

#topic-col {
    width: 60%;
}

#replies-col {
    width: 10%;
}

#lastpost-col {
    width: 40%;
}